<!DOCTYPE html>

<html>
    <head>
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <title>noted. </title>
        <script src="js/core/jQuery.js"></script>
        <script src="js/core/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <link href="css/main.css" rel="stylesheet" />

        <!-- Include the core AngularJS library -->
        <script src="js/core/angularJS.js"></script>
        <script src="js/core/angular-route.min.js"></script>

        <!-- Include SQL Lite for date handling -->
        <script src="js/core/sqlite-plugin.js"></script>
        <script src="js/core/angular-filter.js"></script>

    </head>
    <body ng-app="NotesApp">
    <div ng-controller="HomeController">


            <div class="topBar">
                <a href="#!/categories">
                    <div class="logo">
                        noted.
                    </div>
                </a>
                <div class="menuButton nav">
                    <ul>
                        <li>
                            <a><img src="img/menu.png" class="menuIcon"></a>
                            <ul>
                                <li class="menuOption">Show All <input type="checkbox" ng-change="showHideItems()" ng-model="allItems" class="catBox"></li>
                                <li class="menuOption">Sort By:</li>
                                <li class="menuSubOption menuSubOptionSelected menuSubOptionAsc" ng-click="changeSort('date_added_numeric', $event)">Date Added</li>
                                <li class="menuSubOption" ng-click="changeSort('date_due_numeric', $event)">Date Due</li>
                                <li class="menuSubOption" ng-click="changeSort('starred', $event)">Priority</li>
                                <li class="menuSubOption" ng-click="changeSort('status_id', $event)">Status</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>



        <div ng-view class="contentDiv">

        </div>
    </div>

    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/ListController.js"></script>
    <script src="js/controllers/MemoController.js"></script>
    <script src="js/controllers/NewNoteController.js"></script>
    <script src="js/controllers/HomeController.js"></script>
    <script src="js/controllers/CategoryController.js"></script>
    <script src="js/controllers/ListCatsController.js"></script>

    <!-- Directives -->
    <script src="js/directives/note.js"></script>
    <script src="js/directives/category.js"></script>

    <!-- extras -->
    <script src="js/services/dbCalls.js"></script>
    <script src="js/services/pipes.js"></script>
    <script src="js/services/checkDates.js"></script>
    <script src="js/services/camera.js"></script>
    <script src="js/services/MenuOptions.js"></script>
    <script src="js/services/speech.js"></script>
    <script src="js/services/notes.js"></script>
    <script src="js/services/notesDAO.js"></script>

    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript">
        //application shortcuts
        document.addEventListener("deviceready", onDeviceReady, false);

        function onDeviceReady() {

           var shortcut = {
                id: 'add_new_note_v99',
                shortLabel: 'Add Note',
                longLabel: 'Add a note',
                iconBitmap: '',
                intent: {
                    action: 'android.intent.action.RUN',
                    categories: [
                        'android.intent.category.TEST', // Built-in Android category
                        'MY_CATEGORY' // Custom categories are also supported
                    ],
                    flags: 67108864, // FLAG_ACTIVITY_CLEAR_TOP
                    data: 'myapp://android_asset/www/index.html#!/categories/99999/notes/newnote' // Must be a well-formed URI
                }
            }
            window.plugins.Shortcuts.setDynamic([shortcut], function() {
                //window.alert('Shortcuts were applied successfully');
            }, function(error) {
                //window.alert('Error: ' + error);
            })
        }

    </script>
    </body>
</html>
