<div class="ml-2 mr-2">
    <div class="input-group mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">List Name: </span>
        </div>
        <input required type="text" autofocus ng-model="category.category_name" class="form-control" placeholder="List name">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Colour: </span>
        </div>
        <input required type="color" autofocus ng-model="category.category_colour" class="form-control">
    </div>

    <button class="btn btn-success" ng-click="submitCategory(category.category_id)">{{buttonLabel}}</button>
</div>