<div class="note" ng-class="note.class" style="border-left: 10px solid {{note.category_colour}}">
    <h1>{{note.title}}</h1>
    <button class="btn btn-xs" ng-class="note.class_name" ng-click="changeStatus(note)">
        {{note.status_name}}
    </button>
    <img ng-src="{{note.starredImage}}" width="20px" height="20px" ng-click="starItem(note)" />
    <hr class="underTitle">
    <span class="indivNoteText">
         {{note.notes}}
    </span>
    <img ng-src="{{note.photo}}" ng-class="imageClass">
    <hr>
    <strong>Category: </strong>{{note.category_name}}<br>
    <strong>Date Added: </strong>{{note.date_added | newDate | date: "mediumDate"}}<br>
    <strong>Date Due: </strong>{{note.date_due | newDate | date: "mediumDate"}}
    <hr>
    <button class="btn btn-success mb-3" ng-click="editItem(note.note_id)">Edit</button>
    <button class="btn btn-danger mb-3" ng-click="deleteItem(note)">Delete</button>
</div>
