<div class="row justify-content-around ml-1 mr-1">
    <div class="col-2 text-center dateBox" style="background-color: {{day.colour}}"  ng-repeat="day in days">
        <a class="dateTile" ng-href="#!/day/{{$index}}">
            <div class="dateDay">
                {{day.date}}
            </div>
            <div class="dateMonth">
                {{day.month}}
            </div>
            <div class="row mb-1 justify-content-between">
                <div class="col-6 pr-1">
                    <div class="dateInfoCircles float-right">{{day.notesDue}}</div>
                </div>
                <div class="col-6 pl-1">
                    <button class="btn btn-xs btn-success dateInfoCirclesBtn" ng-click="addNewNoteToDay(day.fullDate, $event)">+</button>
                </div>
            </div>
        </a>
    </div>
</div>
<category ng-repeat="category in categories track by category.category_id" ng-if="category.expired != 1" info="category" id="category.category_id"></category>
<div class="addNewButton addNewSwitcher">
    <div class="plusSymbol">+</div>
    <div class="twoLinks">
        <div class="twoLinks--oneLink">
            <a href="#!/categories/new">
                <div class="oneLinkHead">NEW</div>
                <div class="oneLinkContent">list</div>
            </a>
        </div>
        <div class="twoLinks--oneLink">
            <a href="#!/categories/-1/notes/newnote">
                <div class="oneLinkHead">NEW</div>
                <div class="oneLinkContent">note</div>
            </a>
        </div>
    </div>
</div>
<div class="voiceButton" data-ng-click="voiceAdd()">
    <img src="img/microphone.png" class="voiceIcon">
</div>