<div ng-show="loading" class="loadingScreen">
    <div class="lds-ripple"><div></div><div></div></div>
</div>
<div ng-show="!loading" class="row justify-content-around ml-1 mr-1">
    <div class="col-2 text-center dateBox" style="background-color: {{day.colour}}"  ng-repeat="day in days">
        <a class="dateTile" ng-href="#!/day/{{$index}}">
            <div class="dateMonth">
                {{day.fullDate | date : "EEE"}}
            </div>
            <div class="dateDay">
                {{day.date}}
            </div>
            <div class="dateMonth">
                {{day.month}}
            </div>
            <div class="row mb-1 justify-content-between">
                <div class="col-6 pr-1">
                    <div class="dateInfoCircles float-right">{{day.notesDue}}</div>
                </div>
                <div class="col-6 pl-1">
                    <button class="btn btn-xs btn-success dateInfoCirclesBtn" ng-click="addNewNoteToDay(day.fullDate, $event)">+</button>
                </div>
            </div>
        </a>
    </div>
</div>
<category ng-show="!loading" ng-repeat="category in categories track by category.category_id" ng-if="category.expired != 1" info="category" id="category.category_id" settings="notedSettings" delete-cat="deleteCat(cat, event)" edit-cat="editCat(cat, event)"></category>
<a ng-show="!loading" href="#!/categories/new" class="new-list"><span class="new-list-plus">+</span> New List</a>