.catList:hover, .noteList:hover {
    background-color: #ccdefc;
    color: cornflowerblue;
    text-decoration: none;
}

/* MAIN STUFF */
* {
    box-sizing: border-box;
}

html {
    overflow: scroll;
}

body {
    background-color: #eaebed;
}

a {
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: inherit;
}

.topBar {
    height: 50px;
    width: 100%;
    background-color: cornflowerblue;
    font-size: 40px;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 3px 3px #A0A0A0;
    position: fixed;
    top: 0;
    z-index: 999;
}

.logo {
    float: left;
    width: 120px;
}

.search {
    float: left;
    justify-content: flex-end;
    display: flex;
    padding-top: 13px;
    width: calc(100% - 155px);
    height: 50px;
}

.search:hover .searchField {
    opacity: 1;
    width: 100%;
}

.search:hover .searchImage {
    filter: invert(100%);
}

.searchField {
    opacity: 0;
    width: 0%;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
    font-size: 14px;
    height: 1.6rem
}

.searchImage{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.contentDiv {
    margin-top: 60px;
    width: 100%;
}

.note {
    width: calc(100% - 15px);
    background-color: white;
    border-bottom: 1px solid #eaebed;
    padding-left: 10px;
    margin: 10px;
    box-shadow: 0 0 3px #8d8d8e;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    color: cornflowerblue;
}

.noteList {
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}
.catList {
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}
.noteDueToday {
    background-color: #f7e4c5;
}

.noteOverdue {
    background-color: #f9bfbd;
}

.dateText {
    color: red;
    display: block;
    font-size: 12px;
    clear: left;
    float: left;
}

.overDueNotes {
    color: red;
    font-size: 12px;
    border: 1px solid red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.25);
    margin-left: 5px;
}

.totalNotes {
    color: cornflowerblue;
    font-size: 12px;
    border: 1px solid cornflowerblue;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    text-align: center;
    background-color: rgba(100, 149, 237, 0.25);
    margin-left: 20px;
}

.col-6 {
    padding-left: 0px;
    padding-right: 0px;
}

.iconBar {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    margin-right: 2px;
    height: 20px;
}

.iconBarImage {
    float: right;
    display: block;
    margin-left: 5px;
}

.underTitle {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), black);
}

.input-group-prepend {
    width: 100px;
}

.input-group-text {
    width: 100%;
}

.deleteIconDiv {
    display: block;
    float: right;
    height: 100%;
    padding-right: 0px;
    text-align: right;
}

.noteText {
    float: left;
    width: calc(100% - 125px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.addNewButton {
    bottom: 20px;
    position: fixed;
    height: 50px;
    width: 50px;
    background-color: cornflowerblue;
    border-radius: 50%;
    display: flex;
    color: white;
    box-shadow: 3px 3px 10px #A0A0A0;
    cursor: pointer;
    right: 20px;
}
.addNewButton:hover .plusSymbol {
    opacity: 0;
}
.addNewButton:hover .twoLinks {
    opacity: 1;
    visibility: visible;
    font-size: 16px;
    color: white;
}

.addNewSwitcher {
    transition: all 0.3s ease-in-out;
}
.addNewSwitcher:hover {
    border-radius: 3%;
    width: 120px;
}

.oneLinkHead {
    font-size: 100%;
}

.oneLinkContent {
    font-size: 75%;
}

.plusSymbol {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    font-size: 30px;
    text-align: center;
    margin-left: 17px;
    margin-top: 2px;
    position: absolute;
}

.twoLinks {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    text-align: center;
    margin-left: 0px;
    visibility: hidden;
    font-size: 16px;
    color: white;
    min-width: 120px;
    position: absolute;
}

.twoLinks--oneLink {
    float: left;
    margin-left: 12px;
    margin-right: 6px;
    margin-top: 2px;
    min-width: 40px;
}

.voiceButton {
    bottom: 20px;
    position: fixed;
    height: 50px;
    width: 50px;
    background-color: cornflowerblue;
    border-radius: 50%;
    display: flex;
    color: white;
    box-shadow: 3px 3px 10px #A0A0A0;
    cursor: pointer;
    left: 20px;
    text-align: center;
    justify-content: center;
}

.voiceIcon {
    align-self: center;
    height: 30px;
    width: 30px;
}

.indivNoteText {
    white-space: pre-line;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.img-thumbnail {
    margin-bottom: 5px;
    height: 150px;
}

.catBox {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}

.catHeader {
    margin: 0 auto;
    text-transform: uppercase;
    width: 40%;
    border-radius: 0.375rem;
    text-align: center;
    background-color: cornflowerblue;
    font-weight: bolder;
}

.noNotesText {
    margin: 0 auto;
    margin-top: 10px;
    width: 60%;
    border-radius: 0.375rem;
    text-align: center;
    background-color: rgba(100, 149, 237, 0.35);
}

/* MENU STUFF FOR HOVER */
.nav {
    z-index: -1;
}
.nav ul {
    *zoom: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.nav ul > li {
    float: left;
    position: relative;
}
.nav ul > li:hover ul {
    box-shadow: 0 0 3px #8d8d8e;
}
.nav ul > li:hover ul li.menuOption {
    height: 50px;
    margin-bottom: 5px;
}

.nav ul > li:hover ul li.menuHeader {
    height: 30px;
    margin-bottom: 5px;
}

.nav ul > li:hover ul li.menuSubOption {
    height: 30px;
    margin-bottom: 5px;
}

.nav ul > li:hover ul li.menuOptionHeader {
    height: 30px;
    margin-bottom: 5px;
}

.nav ul > li:hover .menuIcon {
    filter: invert(100%);
}

.nav ul li ul {
    background: white;
    position: absolute;
    left: -200px;
    top: 45px;
    z-index: -1;
}
.nav ul li ul li {
    width: 250px;
    overflow: hidden;
    height: 0;
    -webkit-transition: height 200ms ease-in;
    -moz-transition: height 200ms ease-in;
    -o-transition: height 200ms ease-in;
    transition: height 200ms ease-in;
}
.nav a {
    display: block;
    padding: 0px 0px;
    line-height: 1.2em;
    color: #fff;
}
.nav a:hover {
    text-decoration: none;
}

/* MENU STUFF */
.menuButton {
    float: right;
    padding-bottom: 3px;
    justify-content: center;
    display: flex;
    padding-top: 5px;
    width: 30px;
    height: 50px;
}

.menuIcon {
    height: 30px;
    margin-bottom: 5px;
}

.menu {
    top: 50px;
    right: 0;
    border: 1px solid cornflowerblue;
    background-color: white;
    position: fixed;
    width: 250px;
}

.menuHeader {
    font-size: 1.25rem;
    background-color: #ccdefc;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}


.menuOption {
    height: 50px;
    line-height: 50px;
    padding-left: 5px;
    color: cornflowerblue;
    cursor: pointer;
    font-size: 1rem;
}
.menuOption:hover {
    background-color: #ccdefc;
    text-decoration: none;
}

.menuOptionHeader {
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    color: cornflowerblue;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bolder;
}

.menuOptionHeader:hover {
    background-color: #ccdefc;
    text-decoration: none;
}

.menuSubOption {
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    color: cornflowerblue;
    cursor: pointer;
    font-size: 1rem;
}
.menuSubOption:hover {
    background-color: #ccdefc;
    text-decoration: none;
}

.menuSubOptionSelected {
    background-color: #ccdefc;
}

.menuSubOption::before {
    display: inline-block;
    content: "";
    -webkit-border-radius: 0.375rem;
    border-radius: 0.375rem;
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.5rem;
    background-color: cornflowerblue;
    margin-top: 15px;
}

.menuSubOptionAsc::after {
    display: inline-block;
    content: "";
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 10px;
    height: 10px;
    top: 0;
    left: -20px;
    transform: translateY(-50%) rotate(-135deg);
    margin-left: 10px;
}

.menuSubOptionDesc::after {
    display: inline-block;
    content: "";
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 10px;
    height: 10px;
    top: 0;
    left: -20px;
    transform: translateY(-50%) rotate(45deg);
    margin-left: 10px;
}

.optionText {
    width: 210px;
    float: left;
}

.optionTitle {
    font-size: 1rem;
    line-height: 1.2rem;
    width:100%;
    font-weight: bolder;
}

.optionDesc {
    font-size: 0.75rem;
    line-height: 1rem;

}

.optionToggle {
    width: 30px;
    float: left;
    margin: auto;
    align-content: center;
}

.dateBox {
    border: 2px solid red;
    border-radius: 0.5rem;
    width:100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    background-color: white;
}

.dateBox:hover {
    background-color: #ccdefc;
}

.dateBox a.dateTile {
    width: 100%;
    height: 100%;
}

.dateBox .dateDay {
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}

.dateBox .dateMonth {
    font-size: 75%;
    text-transform: uppercase;
}

.dateInfoCircles {
    color: cornflowerblue;
    font-size: 12px;
    border: 1px solid cornflowerblue;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.75);
}

.dateInfoCirclesBtn {
    color: cornflowerblue;
    font-size: 16px;
    border: 1px solid cornflowerblue;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 0px 3px;
    line-height: 0.5;
}

.starOverlay {
    position: absolute;
    top: 5px;
    right:31px;
    color: black;
    font-size: 12px;
    font-weight: bold;
}

.starOverlayNote {
    position: absolute;
    top: 2px;
    left: 7px;
    color: black;
    font-size: 12px;
    font-weight: bold;;
}

.star_2 {
    filter: hue-rotate(310deg); /*orange*/
}

.star_3 {
    filter: hue-rotate(280deg); /*pink*/
}

.star_4 {
    filter: hue-rotate(50deg); /*green*/
}

.star_5 {
    filter: hue-rotate(150deg); /*blue*/
}