* {
    box-sizing: border-box;
}

html {
    overflow: scroll;
}

a {
    color: inherit
}
a:hover {
    text-decoration: none;
    color: inherit
}

img {
    vertical-align: inherit;
}

.topBar {
    height: 50px;
    width: 100%;
    background-color: cornflowerblue;
    font-size: 40px;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 3px 3px #A0A0A0;
    position: fixed;
    top:0px;
    z-index: 999;
}

.logo {
    float:left;
    width: calc(100% - 50px);
}

.contentDiv {
    margin-top: 60px;
    width: 100%;
}

body {
    background-color: #eaebed;
}

.note {
    width: calc(100% - 15px);
    background-color: white;
    border-bottom: 1px solid #eaebed;
    padding-left: 10px;
    margin: 10px;
    box-shadow: 0 0 3px #8d8d8e;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    color:cornflowerblue;
}

.noteList {
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}

.catList {
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}

.noteList:hover, .catList:hover {
    background-color: #ccdefc;
    color: cornflowerblue;
    text-decoration: none;
}

.noteDueToday {
    background-color: #f7e4c5;
}

.noteOverdue {
    background-color: #f9bfbd;
}

.dateText {
    color: red;
    display: block;
    font-size: 12px;
    clear: left;
    float: left
}

.underTitle {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 1));
}

.input-group-prepend {
    width: 100px
}

.input-group-text {
    width: 100%
}

.deleteIconDiv {
    display: block;
    float:right;
    height: 100%;
    padding-right: 0px;
    text-align: right;
}

.iconBar {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    margin-right: 2px;
}

.noteText {
    float:left;
    width: calc(100% - 125px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.addNewButton {
    bottom: 20px;
    right: 20px;
    position: fixed;
    height: 50px;
    width:50px;
    background-color: cornflowerblue;
    border-radius: 50%;
    display: flex;
    color: white;
    box-shadow: 3px 3px 10px #A0A0A0;
    cursor: pointer;
}

.addNewSwitcher {
    transition: all .3s ease-in-out;
}

.addNewSwitcher:hover {
    border-radius: 3%;
    width: 120px;
}

.oneLinkHead {
    font-size:100%;
}

.oneLinkContent {
    font-size:75%;
}

.plusSymbol {
    opacity: 1;
    transition: all .3s ease-in-out;
    font-size: 30px;
    text-align: center;
    margin-left: 17px;
    margin-top:2px;
    position: absolute;
}

.twoLinks {
    opacity: 0;
    transition: all .3s ease-in-out;
    text-align: center;
    margin-left: 0px;
    visibility: hidden;
    font-size: 16px;
    color: white;
    min-width: 120px;
    position: absolute;
}

.twoLinks--oneLink {
    float:left;
    margin-left: 12px;
    margin-right: 6px;
    margin-top:2px;
    min-width: 40px;
}

.addNewButton:hover .plusSymbol {
    opacity: 0;
}

.addNewButton:hover .twoLinks {
    opacity: 1;
    visibility: visible;
    font-size:16px;
    color: white;
}

.voiceButton {
    bottom: 20px;
    left: 20px;
    position: fixed;
    height: 50px;
    width:50px;
    background-color: cornflowerblue;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    display: flex;
    color: white;
    box-shadow: 3px 3px 10px #A0A0A0;
    cursor: pointer;
}

.voiceIcon {
    align-self: center;
    height:30px;
    width: 30px;
}

.indivNoteText {
    white-space: pre-line;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.img-thumbnail {
    margin-bottom: 5px;
    height: 150px;
}

.catBox {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}

.catHeader {
    margin: 0 auto;
    text-transform: uppercase;
    width:40%;
    border-radius: 0.375rem;
    text-align: center;
    background-color: cornflowerblue;
    font-weight: bolder;
}

.noNotesText {
    margin: 0 auto;
    margin-top: 10px;
    width:60%;
    border-radius: 0.375rem;
    text-align: center;
    background-color: rgba(100, 149, 237, 0.35);
}

/* MENU STUFF FOR HOVER */

.nav {
    z-index:-1;
}

.nav ul {
    *zoom:1;
    list-style:none;
    margin:0;
    padding:0;
    z-index: 1;
}
/*.nav ul:before,.nav ul:after {*/
    /*content:"";*/
    /*display:table;*/
/*}*/
/*.nav ul:after {*/
    /*clear:both;*/
/*}*/
.nav ul > li {
    float:left;
    position:relative;
}
.nav a {
    display:block;
    padding:0px 0px;
    line-height:1.2em;
    color:#fff;
}
.nav a:hover {
    text-decoration:none;
}
.nav li ul {
    background:rgb(255,255,255);
}
.nav li ul li {
    width:175px;
}

.nav li ul {
    position:absolute;
    left:-145px;
    top:45px;
    z-index:-1;
}
.nav li ul li {
    overflow:hidden;
    height:0;
    -webkit-transition:height 200ms ease-in;
    -moz-transition:height 200ms ease-in;
    -o-transition:height 200ms ease-in;
    transition:height 200ms ease-in;
}
.nav ul > li:hover ul li {
    height:50px;
}

.nav ul > li:hover ul {
    box-shadow: 0 0 3px #8d8d8e;
}

/* MENU STUFF */

.menuButton {
    float: right;
    padding-bottom: 3px;
    justify-content: center;
    display: flex;
    padding-top: 5px;
    width:40px;
    height:50px;

}

.menuIcon {
    height: 40px;
}

.menu {
    top: 50px;
    right: 0px;
    border: 1px solid cornflowerblue;
    background-color: white;
    position: fixed;
    width:175px;
}

.menuOption {
    height: 50px;
    /*border: 1px solid #A0A0A0;*/
    line-height: 50px;
    padding-left: 10px;
    color: cornflowerblue;
    cursor:pointer;
    font-size: 1rem;
}

.menuSubOption {
    height: 50px;
    /*border: 1px solid #A0A0A0;*/
    line-height: 50px;
    padding-left: 20px;
    cursor: pointer;
    color: cornflowerblue;
    font-size: 1rem;
}

.menuSubOptionSelected {
    background-color: #ccdefc;
}

.menuOption:hover, .menuSubOption:hover {
    background-color: #ccdefc;
    text-decoration: none;
}

.menuSubOption::before {
    display: inline-block;
    content: '';
    -webkit-border-radius: 0.375rem;
    border-radius: 0.375rem;
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.5rem;
    background-color: cornflowerblue;
}

.menuSubOptionAsc::after {
    display: inline-block;
    content: '';
    border-right:2px solid black;
    border-bottom:2px solid black;
    width:10px;
    height:10px;
    top: calc(50% - 4px);
    left: -20px;
    transform: translateY(-50%) rotate(-135deg);
    margin-left: 10px;
}

.menuSubOptionDesc::after {
    display: inline-block;
    content: '';
    border-right:2px solid black;
    border-bottom:2px solid black;
    width:10px;
    height:10px;
    top: calc(50% - 4px);
    left: -20px;
    transform: translateY(-50%) rotate(45deg);
    margin-left: 10px;
}

